<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octa Investment Group</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>The game has already changed</h1>
            <div class="subtitle"</h1> The elite don't invest, they own the future!</div>
        </div>

        <div class="features">
            <div class="feature">
                <h3>Daily analysis</h3>
                <p>Our team of professionals and our algorhytms offer advanced analytics for market trends and investment opportunities in real-time, 24/7. Be informed anywhere, anytime.</p>
            </div>
            <div class="feature">
                <h3>Blokchain-powered transactions</h3>
                <p>The days of endless paperwork are done. We have taken care of it for you. Everything is done on the blockchain and is transparent, secure and fast.</p>
            </div>
            <div class="feature">
                <h3>Digital Portfolio</h3>
                <p>Monitor and manage your investments through adigital dashboard with real-time updates and keep in touch with your personal portfolio manager.</p>
            </div>
        </div>

        <div class="cta-section">
            <a href="#" class="cta-button" onclick= "location.href='https://literate-acorn-rw9wrrp5q4w35v9p-5000.app.github.dev/Join'">Dominate the Future</a>
        </div>

        <div class="disclaimer">
            Investment involves risk? Not with us.
        </div>
    </div>
</body>
</html>